@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: "Poppins", sans-serif;
}

/* switch */
.toggle-circle {
  position: absolute;
  top: 11.5%;
  left: 1.5px;
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}
